@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #103601, #299107);
    overflow: hidden;
}

.container {
    position: relative;
    width: 437px;
    height: 365px;
    background-color: #D9D9D9;
    padding: 2rem;
    border-radius: 44px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    transform: translateY(-200%);
    animation: slideDown 0.8s ease forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(-200%);
    }
    to {
        transform: translateY(0);
    }
}

.container h1 {
    color: #49764B;
    font-size: 25px;
    margin-bottom: 1.5rem;
}

.input-box {
    margin-top: 20px;
}

.input-box label {
    display: block;
    text-align: left;
    margin-bottom: 0.3rem;
    font-size: 14px;
    color: #49764B;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    background: linear-gradient(to right, #B97C23, #FFC166);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #103601;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #c47806, #ffa620);
}

footer p {
    margin-top: 10px;
    font-size: 14px;
    color: #49764B;
}

footer a {
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

footer a:hover {
    color: #218838;
}